header {
    background-color: #7C5E99;
    padding: 10px 20px;
    border-bottom: 8px solid #000;
}

nav {
    text-align: right;
    float: right;
}

a {
    font-family: 'Fira Code', monospace;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
    display: inline-flex;
    align-items: center;
}

a:hover {
    text-decoration: underline 2px;
}

a:last-child:hover{
    text-decoration: none;
}

a::before {
    content: "";
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-color: #F25A70;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px #000;
    padding: 18px 20px;
    margin-right: 0;
}

#button:hover {
    background-color: #f34660;

} 