.progress-bar {
    box-sizing: border-box;
    -webkit-background-color: #fff;
    border: 5px solid #000;
    width: 320px;
    height: 40px;
}

.progress-bar::-moz-progress-bar {
    background-color: #7C5E99;
  }

.progress-bar::-webkit-progress-value {
    background-color: #7C5E99;
  } 