.title {
    font-family: "Press Start 2p", sans-serif;
    font-size: 40px;
    color: #F25A70;
    text-shadow: 4px 4px 0 #000;
}

.title.-second {
    text-shadow: none;
    text-align: center;
    color: #fff;
}